
  .blockInfo {
    background-color: $white;
    margin-top: 20px;

    .blockInfoHeader {
      border-bottom: 1px solid $color-gray200;

      h2 {
        color: $color-gray600;
        font-size: 22px;
        padding: 10px 60px;
        margin-bottom: 0;

      }
    }
    .blockInfoContent {
      padding: 20px 60px;
    }

    p {
      font-size: 18px;
    }
  }
