.copy {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid $color-gray700;
  font-size: 14px;

  .container {
    display: flex;
    justify-content: space-between;
  }
  .copyCol {

  }
}
