  .productsSection {
    // padding-top: 20px;
    padding-bottom: 60px;

    .productsSectionTitle {
      color: #543C95;
      font-size: 2.2rem;
      margin-top: 0;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
  }
  .productsSectionRow {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;


    .product {
      flex: 1 1 calc(100% - 10px);
      max-width: calc(100% - 10px);
      margin-left: 5px;
      margin-right: 5px;
      margin-bottom: 30px;
    }
  }




  @include min-xs {
    .productsSectionRow.columns4 {
      .product {
        flex: 1 1 calc(50% - 10px);
        max-width: calc(50% - 10px);
      }
    }
  }
  @include min-md {
    .productsSectionRow.columns4 {
      .product {
        flex: 1 1 calc(25% - 10px);
        max-width: calc(25% - 10px);
      }
    }
  }
  @include min-md {
    .productsSectionRow.columns3 {
      .product {
        flex: 1 1 calc(33.3333% - 10px);
        max-width: calc(33.3333% - 10px);
      }
    }
  }

  .products-section+.products-section {
    border-top: 1px solid $color-gray300;
    padding-top: 20px;
    margin-top: 20px;
  }
