
  .productDetails {
    background: white;
    padding: 0 15px 20px;

    .productTitle {
      font-size: 28px;
      display: inline-block;
      margin-top: 10px;
      margin-bottom: 30px;
    }
    .productHeader {
      display: flex;
      flex-wrap: wrap;
      border-bottom: 1px solid $color-gray400;
      padding-bottom: 10px;

      &>span {
        padding-right: 30px ;
        padding-bottom: 5px;

      }
    }
    .currency {
      margin-right: 5px;
      color: $color-primary;
      font-weight: 600;
    }
    .amount {
      color: $color-primary;
      font-weight: 600;
    }

    .productButtons {
      .btn {

      }
      .btnFavorite {
        font-size: 2.00rem;
        padding: 0.35rem 0.9rem;
      }
    }
  }

  .productPrice {

    .text {
      color: $color-gray700;
      font-size: 22px;
    }
    .currency {
      font-size: 22px;
    }
    .amount {
      font-size: 50px;
    }
  }

  .productPricePagseguro {
    display: flex;
    align-items: center;
    font-size: 14px;
    span+span {
      margin-left: 6px
    }

    a {
      font-size: 12px;
      margin-left: 10px
    }
    .amount {
      margin-left: 0;
    }
  }

  @include min-lg {
    .productPricePagseguro {
      font-size: 18px;
    }
  }

  .productBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    .productPriceCol {
      margin-bottom: 15px;
    }

    p {
      margin-bottom: 0;
    }
  }
  @include min-md {
    .productBlock {
      flex-direction: row;
    }
  }

  .productPriceBoleto {
    background: $color-gray300;
    margin-bottom: 0;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    margin: 0 -15px 15px;

    .currency {}
    .amount {
      font-size: 26px;
    }
    .text {
      margin: 10px;
    }
  }

  @include min-sm {
    .productPriceBoleto {
      font-size: 18px;
      margin-left: 0;
      margin-right: 0;
    }
  }

  .rating {
    color: $color-second;

    .ratingLink {
      padding-left: 5px;
    }
  }

  .sku {
    i {
      color: $color-second;
    }
    span {
      padding-left: 5px;
    }
  }

  .tags {
    i {
      color: $color-second;
      margin-right: 5px;
    }
  }

  .productMore {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  @include min-sm {
    .productMore {
      flex-direction: row;

    }
  }

  .productCorreioCalc {
    display: flex;
    align-items: end;
    padding: 15px 0;
    margin-bottom: 20px;
    flex-direction: column;

    i {
      color: $color-primary;
      font-size: 20px;
      margin-right: 20px;
    }
    span {
      flex: 1;
    }
    & > span {
      margin-bottom: 15px
    }
    .inputGroup {
      max-width: 290px;
    }
  }
