.product {
  background-color: white;
  transition: background-color 0.4s ease-in-out;

  display: flex;
  flex-direction: column;

  &:hover {
    background-color: darken(white, 6%);

    img {
      opacity: 0.9;
    }
  }
  .productImage,
  .productTitle .productButtons {
    flex: 1 1 auto;
  }

  .productImage {
    display: flex;
    align-items: center; // display: inline-block;
    border-bottom: 3px solid $primary-color;
    overflow: hidden;

    img {
      width: 100%;
      transition: opacity 0.4s ease-in-out;
    }
  }
  .productTitle {
    flex: 1;
    font-size: 14px;
    padding: 8px 12px;
  }
  .productPrice {
    display: flex;
    justify-content: center;
    padding: 8px 12px;
    color: $color-second;
    align-items: baseline;

    .currency {
      font-size: 16px;
      margin-right: 5px;
    }
    .amount {
      font-size: 30px;
    }
  }
  .productButtons {
    display: flex;
    .btn {
      flex: 1 1 auto;
      border-radius: 0;
      padding-left: 0;
      padding-right: 0;
    }
    .btnDetail {
      background-color: $color-gray300;
      color: $black;
      &:hover {
        background-color: $color-gray400;
      }
      &:active {
        background-color: $color-gray600;
        color: $white;
      }
    }
    .btnBuy {
      background-color: $color-gray300;
      color: $primary-color;

      &:hover {
        background-color: darken($primary-color, 20%);
        color: $white;
      }
      &:active {
        background-color: darken($primary-color, 50%);
        color: $white;
      }
    }
  }
}

@include min-xs {
  .product {
    .productImage {
      max-height: 253px;
    }
  }
}
@include min-sm {
  .product {
    .productImage {
      max-height: 340px;
    }
  }
}
@include min-md {
  .product {
    .productImage {
      max-height: 225px;
    }
  }
}
@include min-lg {
  .product {
    .productImage {
      max-height: 270px;
    }
  }
}

@include min-gg {
  .product {
    .productImage {
      max-height: 308px;
    }
  }
}
