  .sitemaps {
    .sitemap {

    }
  }


  .sitemap {
    .sitemapTitle {
      font-size: 18px;
      margin-bottom: 10px;
      padding-bottom: 20px;
      border-bottom: 1px solid $color-gray700;

    }
    .sitemapBody {

    }
    .sitemapMenu {

      a {
        color: $color-indigo;
        &:hover {
          color: lighten($color-indigo, 15%)
        }
        &:active {
          color: lighten($color-indigo, 30%)
        }
      }

    }
  }
