  .social {
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;

    .socialIcon {
      color: $color-gray100;
      border: 1px solid $color-gray100;
      border-radius: 50%;
      width: 50px;
      text-align: center;

      &:hover {
        border-color: $primary-color;
        background-color: $primary-color;
        color: $color-gray900;
      }
      &:active {
        border-color: darken($primary-color, 10%);
        background-color: darken($primary-color, 10%);
        color: $color-gray900;
      }

      i {
        font-size: 32px;
      }
    }
    .socialIcon+.socialIcon {
      margin-left: 20px;
    }
  }
