  .widget {
    .widgetTitle {
      font-size: 14px;
      text-align: center;
      padding: 5px 0;
      margin-bottom: 0;
      background: $color-gray300;
      color: $color-gray500
    }

    .widgetContent {
      background: $white;
      padding: 15px;
    }

    &+& {
      margin-top: 30px;
    }
  }

  .widgetCategory {
    .productCategories {
      margin-bottom: 0;
      padding-left: 0;
      list-style: none;
      display: flex;
      flex-direction: column;

      li {
        display: flex;
      }
      a {
        flex: 1;
        padding: 8px 16px;
        background-color: white;

        &:hover {
          background-color: $color-primary;
          color: text-color-background($color-primary);
        }

        &:active {
          background-color: darken($color-primary, 5%);
          color: darken(text-color-background($color-primary), 5%);
        }
      }
    }
  }

  .widgetFilter {
    span {
      font-size: 14px;
    }
  }
