
  .infoBlocks {
    .infoBlock {

    }
  }

  .infoBlock {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 40px;

    .infoIcon {
      font-size: 60px;
      color: $primary-color;
      margin-right: 20px;
    }
    .infoTitle {
      color: $primary-color;
      font-size: 28px;
    }
    .infoContent {
      flex-grow: 2;
    }
  }
