.navbar {
  padding: 0;
  background-color: $color-gray200;

  .navLink {
    font-size: 18px;
    text-transform: capitalize;
    transition: all .4s cubic-bezier(0.39, 0.575, 0.565, 1);
    padding: .5rem 1.5rem;

    &:hover,
    &:focus {
      background-color: $color-primary;
      color: $white;
    }
  }
}
