@import "functions";
@import "vars";
@import "base";
@import "products";
@import "product";
@import "searchForm";
@import "mosaico";
@import "infoBlocks";
@import "sitemap";
@import "social";
@import "menu";
@import "navbar";
@import "productPage";
@import "productDetail";
@import "breadcrumbs";
@import "categoryPage";
@import "titleSection";
@import "widget";


.mainContainer {
  background: red;
}



